<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="description" content="{{title}}">
    <meta name="author" content="{{author}}">
    <link rel="stylesheet" href="{{assets}}/css/style.css" type="text/css" />
    <link rel="icon" href="assets/img/reactor-favicon.png">
    {{!-- // <script src="{{components}}/modernizr/modernizr.js"></script> --}}
    <title>{{title}}</title>
  </head>
  <body>
    <nav id="menu" class="no-display">
      <ul>
        <li>
          <span>{{menu.types}}</span>
          <ul>
            {{#each menu.filter}}
            <li>
              <span>{{this.label}}</span>
              <paper-toggle-button checked class="menu-toggle blue toggle-button-{{this.lower}}"></paper-toggle-button>
            </li>
            {{/each}}
          </ul>
        </li>
        <li>
          <span>{{menu.date}}</span>
          <ul>
            <paper-radio-group class="menu-radio-group" selected="0">
              {{#each menu.date-filter}}
                <paper-radio-button label="{{this.label}}" class="menu-radio menu-radio-time radio-button-{{this.lower}}"></paper-radio-button><br class="no-display" />
              {{/each}}
            </paper-radio-group>
          </ul>
        </li>
        <li>
          <span>{{menu.price}}</span>
          <ul>
            <paper-radio-group class="menu-radio-group" selected="0">
              {{#each menu.price-filter}}
                <paper-radio-button label="{{this.label}}" class="menu-radio menu-radio-price radio-button-{{this.lower}}"></paper-radio-button><br />
              {{/each}}
            </paper-radio-group>
          </ul>
        </li>
        <li>
          <span>{{menu.source}}</span>
          <ul>
            <paper-radio-group class="menu-radio-group" selected="0">
              {{#each menu.source-filter}}
                <paper-radio-button label="{{this.label}}" class="menu-radio menu-radio-source radio-button-{{this.lower}}"></paper-radio-button><br />
              {{/each}}
            </paper-radio-group>
          </ul>
        </li>
        <li>
          <span>{{menu.neighbourhoods}}</span>
          <ul>
              {{#each menu.neighbourhood}}
                <li><a href="#" class="menu-select">{{this.label}}</a></li>
              {{/each}}
            </paper-radio-group>
          </ul>
        </li>
        <li><a href="#" class="menu-about">{{menu.about}}</a></li>
      </ul>
    </nav>
    <div class="mm-page">
      <header class="pre-header">
        <h1 class="pre-logo loading">
          <svg class="pre-inner" width="100%" height="100%" viewBox="0 0 606 606" preserveAspectRatio="xMidYMax meet" aria-labelledby="logo_title">
            <title id="logo_title">reac.TOR</title>
            <path d= "m 409.25245,182.79139 c -1.92763,-1.83138 -2.89144,-4.03679 -2.89144,-6.61623 0,-2.57942 0.96449,-4.76388 2.89349,-6.55337 1.92896,-1.78946 4.28371,-2.68419 7.06425,-2.6842 2.78051,1e-5 5.15784,0.89474 7.13204,2.6842 1.97411,1.78949 2.9612,3.97395 2.96124,6.55337 -4e-5,2.57944 -0.98713,4.78485 -2.96124,6.61623 -1.9742,1.83139 -4.35153,2.74708 -7.13204,2.74708 -2.78054,0 -5.13596,-0.91569 -7.0663,-2.74708 z m -188.07273,60.11616 c -1.92763,-1.83138 -2.89143,-4.03679 -2.89143,-6.61624 0,-2.57942 0.96449,-4.76386 2.89348,-6.55336 1.92897,-1.78946 4.28372,-2.68419 7.06427,-2.68421 2.78049,2e-5 5.15783,0.89475 7.13202,2.68421 1.97414,1.7895 2.96121,3.97394 2.96123,6.55336 -2e-5,2.57945 -0.98709,4.78486 -2.96123,6.61624 -1.97419,1.83139 -4.35153,2.74708 -7.13202,2.74708 -2.78055,0 -5.13599,-0.91569 -7.06632,-2.74708 z m 387.98968,143.01055 -22.448,0 c 0.1435,1.93148 1.0944,3.48803 2.8528,4.66966 1.7584,1.18164 3.7684,1.77246 6.0301,1.77245 3.5891,1e-5 6.3168,-1.04853 8.1831,-3.14561 l 3.445,3.49614 c -3.0864,2.96274 -7.1059,4.4441 -12.0585,4.4441 -4.0195,0 -7.438,-1.24006 -10.2555,-3.72018 -2.8175,-2.48011 -4.2263,-5.80937 -4.2263,-9.98779 0,-4.17839 1.4356,-7.49952 4.3068,-9.9634 2.8711,-2.46384 6.2538,-3.69577 10.1479,-3.69579 3.8941,2e-5 7.2047,1.09047 9.9318,3.27135 2.7271,2.18092 4.0907,5.18556 4.0908,9.01392 z m -22.448,-4.3938 16.4187,0 c -10e-5,-2.23118 -0.7536,-3.94597 -2.2606,-5.14439 -1.5071,-1.19839 -3.3643,-1.79759 -5.5717,-1.79761 -2.2075,2e-5 -4.1904,0.62437 -5.9488,1.87305 -1.7584,1.24871 -2.6376,2.93836 -2.6376,5.06895 z m -27.4159,15.23124 -11.5197,-26.56856 6.2445,0 8.7219,20.07616 8.7203,-20.07616 6.2445,0 -11.5197,26.56856 z m -16.2806,0 -6.0293,0 0,-26.56856 6.0293,0 z m -5.6531,-31.86155 c -0.7535,-0.699 -1.1303,-1.53137 -1.1303,-2.49714 0,-0.9657 0.377,-1.79807 1.1311,-2.49714 0.7541,-0.69898 1.6514,-1.0485 2.6919,-1.04853 1.0404,3e-5 1.9377,0.34955 2.6918,1.04853 0.754,0.69907 1.1311,1.53144 1.1311,2.49714 0,0.96577 -0.3771,1.79814 -1.1311,2.49714 -0.7541,0.69905 -1.6514,1.04857 -2.6918,1.04854 -1.0405,3e-5 -1.9381,-0.34949 -2.6927,-1.04854 z m -15.4477,9.7889 0,13.48317 c 0,1.26496 0.3589,2.27209 1.0769,3.02141 0.7179,0.74932 1.7228,1.12398 3.0146,1.12398 1.2918,0 2.5303,-0.58269 3.7153,-1.74808 l 2.4758,3.94421 c -2.1171,1.76484 -4.4587,2.64726 -7.0248,2.64726 -2.5662,0 -4.7555,-0.824 -6.5681,-2.47199 -1.8127,-1.64799 -2.719,-3.87004 -2.719,-6.66615 l 0,-13.33381 -3.606,0 0,-4.49591 3.606,0 0,-8.33955 6.0293,0 0,8.33955 7.5374,0 0,4.49591 z m -25.7418,22.47195 c -3.9834,0 -7.4107,-1.25683 -10.2818,-3.77047 -2.8712,-2.51364 -4.3068,-5.80124 -4.3068,-9.86282 0,-4.06154 1.4986,-7.36591 4.4957,-9.91311 2.9971,-2.54715 6.6489,-3.82074 10.9554,-3.82076 4.3064,2e-5 7.9491,1.38182 10.9282,4.14538 l -3.5535,4.0448 c -2.4763,-1.99749 -4.9707,-2.99624 -7.4832,-2.99626 -2.5125,2e-5 -4.6928,0.77423 -6.541,2.32263 -1.8482,1.54845 -2.7723,3.54595 -2.7723,5.99253 0,2.4466 0.9153,4.51903 2.746,6.21731 1.8307,1.69829 4.0828,2.54744 6.7563,2.54743 2.6734,10e-6 5.1946,-1.13185 7.5636,-3.39555 l 3.5519,3.5952 c -3.4807,3.26246 -7.5002,4.89369 -12.0585,4.89369 z m -21.1501,-0.3993 -5.4904,0 0,-3.54643 c -2.369,2.63048 -5.5452,3.94573 -9.5285,3.94573 -2.9791,0 -5.4466,-0.78234 -7.4027,-2.34702 -1.9561,-1.56467 -2.9342,-3.65388 -2.9342,-6.26761 0,-2.61371 1.0411,-4.56982 3.1231,-5.86831 2.082,-1.29846 4.8995,-1.9477 8.4525,-1.94772 l 7.8051,0 0,-0.99825 c 0,-3.52863 -2.1176,-5.29296 -6.3529,-5.29298 -2.6548,2e-5 -5.4181,0.89869 -8.2898,2.69602 l -2.691,-3.49614 c 3.4807,-2.56341 7.4284,-3.84513 11.8433,-3.84515 3.3733,2e-5 6.1276,0.79075 8.2628,2.37216 2.1351,1.58147 3.2027,4.07048 3.2027,7.46703 z m -6.0293,-9.88796 0,-2.24796 -6.7833,0 c -4.3415,2e-5 -6.5123,1.26547 -6.5123,3.79638 0,1.29849 0.5383,2.28886 1.615,2.97112 1.0766,0.68226 2.5748,1.02339 4.4948,1.02339 1.9199,0 3.5976,-0.49938 5.0329,-1.49813 1.4353,-0.99875 2.1529,-2.34702 2.1529,-4.0448 z m -23.7507,-0.94948 -22.44787,0 c 0.14347,1.93148 1.0944,3.48803 2.85281,4.66966 1.75838,1.18164 3.76841,1.77246 6.03008,1.77245 3.58907,1e-5 6.31674,-1.04853 8.18304,-3.14561 l 3.44504,3.49614 c -3.08637,2.96274 -7.10588,4.4441 -12.0585,4.4441 -4.01952,0 -7.43802,-1.24006 -10.2555,-3.72018 -2.81749,-2.48011 -4.22623,-5.80937 -4.22623,-9.98779 0,-4.17839 1.43557,-7.49952 4.30673,-9.9634 2.87115,-2.46384 6.25377,-3.69577 10.14789,-3.69579 3.89408,2e-5 7.2047,1.09047 9.93186,3.27135 2.72705,2.18092 4.09065,5.18556 4.09065,9.01392 z m -22.44787,-4.3938 16.41865,0 c -3e-5,-2.23118 -0.75354,-3.94597 -2.26056,-5.14439 -1.50707,-1.19839 -3.36431,-1.79759 -5.57173,-1.79761 -2.20746,2e-5 -4.19038,0.62437 -5.94877,1.87305 -1.7584,1.24871 -2.6376,2.93836 -2.63759,5.06895 z m -10.5241,-6.09311 c -2.97796,2e-5 -5.22072,0.89895 -6.72829,2.69679 -1.50761,1.79787 -2.2614,4.21169 -2.26139,7.24147 l 0,11.38609 -6.02926,0 0,-26.56856 6.02926,0 0,5.3448 c 0.96927,-1.66525 2.2882,-3.03053 3.95681,-4.09586 1.66857,-1.06527 3.436,-1.61469 5.3023,-1.64824 l 0.0542,5.64351 c -0.10735,2e-5 -0.21523,2e-5 -0.32364,0 z m -44.8104,-0.7483 0,13.48317 c -10e-6,1.26496 0.35895,2.27209 1.07689,3.02141 0.71792,0.74932 1.72279,1.12398 3.01463,1.12398 1.29182,0 2.53025,-0.58269 3.71531,-1.74808 l 2.47578,3.94421 c -2.11711,1.76484 -4.45872,2.64726 -7.02483,2.64726 -2.56615,0 -4.75552,-0.824 -6.56812,-2.47199 -1.81262,-1.64799 -2.71892,-3.87004 -2.71892,-6.66615 l 0,-13.33381 -3.60605,0 0,-4.49591 3.60605,0 0,-8.33955 6.02926,0 0,8.33955 7.5374,0 0,4.49591 z m -14.00694,11.23521 -22.44792,0 c 0.14347,1.93148 1.0944,3.48803 2.85281,4.66966 1.75839,1.18164 3.76841,1.77246 6.03008,1.77245 3.58906,1e-5 6.31674,-1.04853 8.18305,-3.14561 l 3.44506,3.49614 c -3.0864,2.96274 -7.10591,4.4441 -12.05853,4.4441 -4.01953,0 -7.43802,-1.24006 -10.2555,-3.72018 -2.81749,-2.48011 -4.22624,-5.80937 -4.22623,-9.98779 -10e-6,-4.17839 1.43557,-7.49952 4.30673,-9.9634 2.87115,-2.46384 6.25377,-3.69577 10.14789,-3.69579 3.89408,2e-5 7.2047,1.09047 9.93185,3.27135 2.72711,2.18092 4.09067,5.18556 4.09071,9.01392 z m -22.44792,-4.3938 16.41865,0 c -2e-5,-2.23118 -0.75354,-3.94597 -2.26056,-5.14439 -1.50707,-1.19839 -3.3643,-1.79759 -5.57173,-1.79761 -2.20746,2e-5 -4.19038,0.62437 -5.94876,1.87305 -1.75841,1.24871 -2.63761,2.93836 -2.6376,5.06895 z m -12.93581,-11.33732 0,23.17301 c -3e-5,4.69403 -1.37263,8.21456 -4.1178,10.56158 -2.74523,2.34701 -6.27133,3.52052 -10.57832,3.52053 -4.30702,-10e-6 -8.20085,-1.24819 -11.68149,-3.74456 l 2.85199,-4.24597 c 2.79941,1.96499 5.62565,2.94748 8.47875,2.94749 2.85307,-1e-5 5.11417,-0.68252 6.78333,-2.04755 1.66912,-1.36503 2.50368,-3.54567 2.50371,-6.54193 l 0,-3.39709 c -0.89702,1.5657 -2.18009,2.81465 -3.8492,3.74685 -1.66916,0.93221 -3.5442,1.39831 -5.62512,1.39831 -3.80486,0 -6.92737,-1.23193 -9.36754,-3.6958 -2.44018,-2.46385 -3.66027,-5.52691 -3.66027,-9.18919 0,-3.66224 1.22009,-6.72531 3.66027,-9.18919 2.44017,-2.46384 5.55337,-3.69577 9.33961,-3.69579 3.7862,2e-5 6.8638,1.44837 9.23282,4.34503 l 0,-3.94573 z m -22.34113,12.26089 c 0,2.1804 0.72696,4.06132 2.18089,5.64275 1.45391,1.58145 3.40999,2.37217 5.86826,2.37217 2.45823,0 4.44991,-0.76557 5.97505,-2.29673 1.52509,-1.53114 2.28765,-3.4372 2.28767,-5.71819 -2e-5,-2.28096 -0.77161,-4.21217 -2.31478,-5.79364 -1.5432,-1.58142 -3.53488,-2.37214 -5.97505,-2.37216 -2.44019,2e-5 -4.38724,0.81589 -5.84115,2.44761 -1.45393,1.63175 -2.18089,3.53781 -2.18089,5.71819 z M 605.1746,283.17193 c -1e-4,14.39714 -6.7741,23.46897 -20.322,27.21553 l 24.6304,31.71143 -20.1907,0 -22.4741,-29.33775 -20.8601,0 0,29.33775 -15.8823,0 0,-87.27027 34.9927,0 c 14.3557,9e-5 24.629,2.24741 30.8199,6.74197 6.1907,4.49472 9.2861,11.69516 9.2862,21.60134 z m -39.4325,16.2272 c 8.9726,5e-5 15.0737,-1.28967 18.3034,-3.86915 3.2295,-2.57939 4.8443,-6.71968 4.8444,-12.42091 -10e-5,-5.70112 -1.6601,-9.61344 -4.9799,-11.73701 -3.32,-2.12342 -9.2418,-3.18516 -17.7654,-3.18524 l -20.1865,0 0,31.21231 19.784,0 z m -81.6045,-23.96931 c -6.4154,-6.15959 -14.2881,-9.23941 -23.6181,-9.23949 -9.33,8e-5 -17.2027,3.0799 -23.618,9.23949 -6.41536,6.15971 -9.62302,13.63003 -9.623,22.41099 -2e-5,8.78103 3.20764,16.25072 9.623,22.40908 6.4153,6.1584 14.288,9.23759 23.618,9.23758 9.33,1e-5 17.2027,-3.07918 23.6181,-9.23758 6.4152,-6.15836 9.6229,-13.62805 9.623,-22.40908 -1e-4,-8.78096 -3.2078,-16.25128 -9.623,-22.41099 z m 11.6396,54.62154 c -9.5095,8.61337 -21.262,12.92004 -35.2577,12.92004 -13.9957,0 -25.74895,-4.30731 -35.25966,-12.92194 -9.51074,-8.61461 -14.26611,-19.35145 -14.2661,-32.21056 -10e-6,-12.85902 4.75536,-23.59586 14.2661,-32.21056 9.51071,-8.61454 21.26396,-12.92185 35.25966,-12.92194 13.9957,9e-5 25.7489,4.3074 35.2597,12.92194 9.5107,8.6147 14.266,19.35154 14.2661,32.21056 -10e-5,12.85911 -4.7561,23.59658 -14.2681,32.21246 z m -124.42136,-61.7388 0,73.78633 -15.87815,0 0,-73.78633 -28.53221,0 0,-13.48394 72.94258,0 0,13.48394 z m -74.39648,72.0375 c -1.92763,-1.83139 -2.89143,-4.03679 -2.89142,-6.61624 -1e-5,-2.57942 0.96448,-4.76387 2.89347,-6.55337 1.92896,-1.78945 4.28372,-2.68419 7.06426,-2.68421 2.7805,2e-5 5.15784,0.89476 7.13203,2.68421 1.97412,1.7895 2.9612,3.97395 2.96123,6.55337 -3e-5,2.57945 -0.98711,4.78485 -2.96123,6.61624 -1.97419,1.83138 -4.35153,2.74708 -7.13203,2.74708 -2.78054,0 -5.13598,-0.9157 -7.06631,-2.74708 z m -46.65697,2.74708 c -9.95845,0 -18.52659,-3.14206 -25.70446,-9.42618 -7.1779,-6.28411 -10.76684,-14.50311 -10.76683,-24.65704 -1e-5,-10.15387 3.74637,-18.41478 11.23915,-24.78278 7.49275,-6.36788 16.6222,-9.55184 27.38838,-9.55191 10.76609,7e-5 19.87296,3.45455 27.32061,10.36346 l -8.88371,10.112 c -6.19087,-4.99372 -12.42685,-7.4906 -18.70797,-7.49065 -6.2812,5e-5 -11.73204,1.93558 -16.35252,5.80659 -4.62055,3.8711 -6.93081,8.86486 -6.93079,14.9813 -2e-5,6.1165 2.28834,11.29759 6.86507,15.54329 4.57668,4.24573 10.20686,6.36858 16.89056,6.36857 6.68361,1e-5 12.98668,-2.82962 18.90921,-8.48889 l 8.87961,8.98801 c -8.7017,8.15616 -18.75046,12.23423 -30.14631,12.23423 z m -52.87516,-0.99825 -13.72602,0 0,-8.8661 c -5.92252,6.57624 -13.86296,9.86435 -23.82134,9.86435 -7.44761,0 -13.61651,-1.95585 -18.50671,-5.86755 -4.89023,-3.9117 -7.33533,-9.1347 -7.33533,-15.66903 0,-6.53429 2.60254,-11.42454 7.80765,-14.67077 5.20508,-3.24617 12.2488,-4.86927 21.13117,-4.86931 l 19.51296,0 0,-2.49561 c -5e-5,-8.82159 -5.29414,-13.23241 -15.88226,-13.23247 -6.63715,6e-5 -13.54533,2.24674 -20.72456,6.74006 l -6.72748,-8.74036 c 8.70161,-6.40852 18.57103,-9.6128 29.60828,-9.61287 8.43325,7e-5 15.31885,1.97687 20.6568,5.93041 5.33783,3.95367 8.00677,10.17619 8.00684,18.66757 z m -15.07315,-24.71991 0,-5.61989 -16.95833,0 c -10.8538,3e-5 -16.28068,3.16368 -16.28066,9.49095 -2e-5,3.24622 1.34575,5.72215 4.03731,7.42779 2.69151,1.70566 6.43721,2.55849 11.2371,2.55847 4.79982,2e-5 8.99388,-1.24842 12.58219,-3.74532 3.5882,-2.49686 5.38233,-5.86753 5.38239,-10.112 z m -59.37673,-2.37369 -56.119791,0 c 0.35866,4.82869 2.736,8.72006 7.13203,11.67414 4.39596,2.95411 9.42102,4.43115 15.0752,4.43114 8.97266,1e-5 15.791851,-2.62133 20.457601,-7.86404 l 8.61265,8.74036 c -7.71599,7.40684 -17.76475,11.11025 -30.146311,11.11025 -10.0488,0 -18.59504,-3.10015 -25.63875,-9.30045 -7.04373,-6.20028 -10.56558,-14.52343 -10.56558,-24.96947 0,-10.44597 3.58894,-18.7488 10.76684,-24.90851 7.17786,-6.15959 15.63443,-9.23941 25.36972,-9.23948 9.73521,7e-5 18.011751,2.72619 24.829641,8.17837 6.81775,5.4523 10.22667,12.9639 10.22675,22.53482 z m -56.119791,-10.98451 41.046621,0 c -6e-5,-5.57793 -1.88386,-9.86493 -5.6514,-12.86098 -3.767661,-2.99595 -8.410761,-4.49395 -13.929321,-4.49401 -5.51865,6e-5 -10.47595,1.56093 -14.87191,4.68261 -4.39602,3.12179 -6.59401,7.34591 -6.59399,12.67238 z m -26.31026,-15.23276 c -7.44489,5e-5 -13.0518,2.24737 -16.82074,6.74196 -3.769,4.49469 -5.65349,10.52924 -5.65346,18.10368 l 0,28.46523 -15.0731596,0 0,-66.42142 15.0731596,0 0,13.36201 c 2.42318,-4.16311 5.72051,-7.57631 9.89202,-10.23963 4.17143,-2.6632 8.59001,-4.03673 13.25575,-4.12062 l 0.13553,14.10879 c -0.26838,5e-5 -0.53808,5e-5 -0.8091,0 z M 318.58935,205.29886 c -0.0427,-1.61657 -0.10157,-3.20399 -0.13021,-3.5276 -0.0286,-0.32362 3.34638,-2.29466 7.50006,-4.38009 17.93372,-9.00392 40.09164,-22.08203 56.11476,-33.12021 l 7.93716,-5.46785 -1.42668,-1.09922 c -9.60853,-7.40304 -32.88261,-21.89308 -49.91319,-31.07507 -3.88003,-2.0919 -6.97272,-4.07134 -6.99272,-4.47555 -0.0198,-0.39862 -0.36995,-1.59447 -0.77834,-2.65744 -0.68345,-1.77883 -0.66412,-2.00557 0.24287,-2.84815 0.96709,-0.89838 1.10037,-0.85393 7.14569,2.38186 17.62215,9.43241 34.7808,19.84514 48.83849,29.63763 7.54539,5.25609 8.39477,5.72407 9.31004,5.12937 3.0517,-1.98291 16.2173,-13.16294 21.72261,-18.44648 17.42757,-16.72565 26.64321,-31.39162 25.90181,-41.22071 -0.7446,-9.8715 -10.11051,-14.58469 -29.03913,-14.61334 -20.04926,-0.0303 -47.27833,5.99035 -78.3017,17.3135 -5.3963,1.96958 -9.90806,3.58106 -10.02614,3.58106 -0.11807,0 -0.21469,-1.50667 -0.21469,-3.34817 l 0,-3.34818 8.20321,-2.98445 c 35.35206,-12.8616 68.10883,-19.35257 87.89148,-17.41626 10.30947,1.00909 16.91219,3.26371 22.01027,7.51584 7.2105,6.01404 8.3686,15.79785 3.2365,27.34331 -5.79492,13.03639 -20.69558,29.57624 -42.17402,46.8133 -2.43492,1.95409 -4.47755,3.58457 -4.53922,3.62329 -0.0617,0.0387 2.45816,2.11166 5.59959,4.60652 l 5.71178,4.53613 -1.81653,1.38903 c -0.99907,0.76397 -2.11388,1.7829 -2.47737,2.2643 -0.60584,0.80242 -1.15319,0.47917 -6.57684,-3.88401 -5.07755,-4.08475 -6.03928,-4.67525 -6.78574,-4.16646 -0.47839,0.32604 -3.67436,2.55943 -7.1022,4.9631 -18.38294,12.89044 -40.8092,26.05568 -62.87363,36.90971 l -6.11985,3.0105 -0.0781,-2.93921 z m -80.77444,30.29202 c -0.13968,-1.40243 -0.345,-2.84643 -0.4563,-3.2089 -0.14302,-0.46587 1.30631,-1.06229 4.94484,-2.03486 11.7548,-3.14202 26.61624,-8.11452 39.70002,-13.28325 4.32723,-1.70946 7.96007,-3.10862 8.07299,-3.10924 0.11292,-4.8e-4 0.13016,1.57817 0.0385,3.5084 l -0.16703,3.50953 -7.38512,2.83289 c -11.17897,4.28816 -24.63706,8.79948 -34.2083,11.46706 -4.72661,1.31735 -8.97446,2.50161 -9.43963,2.63171 -0.6861,0.19187 -0.89375,-0.24496 -1.0998,-2.31334 z m 166.01922,8.25734 c -20.13593,-1.79358 -47.60542,-8.94129 -76.31241,-19.85686 l -8.07299,-3.06969 -0.35902,-3.35119 c -0.1975,-1.84316 -0.26432,-3.43906 -0.14859,-3.54645 0.11578,-0.10739 4.02738,1.28129 8.69247,3.08597 26.7613,10.35253 49.58007,16.72253 70.20131,19.59712 9.8789,1.37711 24.37758,1.50763 30.20863,0.27195 10.68739,-2.26479 16.16137,-7.19431 16.13837,-14.5331 -0.028,-8.95889 -7.53584,-21.63741 -21.01826,-35.49457 l -2.53612,-2.6066 1.27413,-0.71717 c 0.70073,-0.39445 1.7248,-1.3413 2.27569,-2.10412 0.5509,-0.76282 1.15632,-1.38757 1.34538,-1.38833 0.44329,-0.002 6.19704,6.03227 9.90426,10.38678 7.00522,8.22837 12.04932,16.67944 14.30032,23.9595 1.7942,5.80242 1.6344,11.81196 -0.4245,15.9601 -2.721,5.48221 -7.74727,9.26856 -15.26963,11.50285 -7.81242,2.32045 -18.18247,2.97421 -30.19904,1.90383 z m -219.23203,0.0318 c -11.56548,-1.48853 -19.49149,-5.43507 -23.42695,-11.66477 -6.56605,-10.39386 -0.87001,-26.39742 16.12943,-45.31711 5.48276,-6.1021 18.98764,-18.578 25.88953,-23.91696 2.7483,-2.12595 5.0101,-4.01653 5.02624,-4.20127 0.0162,-0.18474 -2.37299,-2.23751 -5.30922,-4.56171 -7.29522,-5.77465 -22.18516,-19.7154 -27.02313,-25.30058 -18.39221,-21.23266 -22.29344,-37.9953 -11.12365,-47.79526 11.54095,-10.12558 36.07728,-10.77863 72.65233,-1.9337 9.66197,2.33655 28.28402,8.07353 38.0212,11.71339 l 7.03132,2.62836 0.15438,3.50035 c 0.11968,2.71453 0.005,3.4446 -0.52084,3.25205 -0.37136,-0.13656 -4.30806,-1.60013 -8.74821,-3.25238 -32.51318,-12.0987 -65.8834,-18.94724 -84.87026,-17.41783 -10.88745,0.877 -17.92512,3.70489 -21.12036,8.48663 -1.48517,2.2226 -1.56111,2.59112 -1.53491,7.44561 0.0245,4.56649 0.20156,5.51234 1.67085,8.93275 2.21768,5.1626 7.26981,12.82144 12.56996,19.05551 5.08354,5.97933 21.46037,21.32201 28.85977,27.03738 l 5.10692,3.94466 6.0911,-4.24693 c 17.74502,-12.37252 34.7242,-22.64188 54.44814,-32.93142 3.0431,-1.58752 3.04445,-1.58772 4.08478,-0.62267 0.98006,0.90917 0.99235,1.05202 0.21109,2.45349 -0.45625,0.81846 -0.82954,2.01922 -0.82954,2.66835 0,0.67182 -0.38703,1.31801 -0.89849,1.50008 -2.1107,0.75138 -21.89345,12.00274 -31.06353,17.66726 -7.89998,4.87995 -19.78723,12.80041 -25.80318,17.19264 -0.58667,0.42836 0.92403,1.6852 7.55347,6.28413 14.88947,10.32899 34.21705,21.80603 52.81593,31.36296 5.58599,2.87033 10.20541,5.24825 10.2653,5.28427 0.0599,0.036 -0.0297,1.59754 -0.1987,3.47004 l -0.30766,3.40455 -9.17639,-4.58743 c -21.46802,-10.7322 -44.26589,-24.31815 -61.88919,-36.88167 l -5.31657,-3.79012 -5.88146,4.6622 c -3.23482,2.56421 -9.75567,8.27098 -14.49076,12.68172 -12.10955,11.28001 -19.33952,19.86694 -23.89368,28.37809 -3.04039,5.6821 -3.82639,8.18762 -4.07202,12.98023 -0.20682,4.03495 -0.11677,4.54016 1.24877,7.00584 4.62681,8.35423 20.2404,11.38883 43.39917,8.4349 3.00784,-0.38365 6.11334,-0.825 6.90111,-0.98076 1.27486,-0.25208 1.4323,-0.14448 1.4323,0.97862 0,0.69401 0.35464,2.04923 0.78814,3.0116 0.43344,0.96237 0.70094,1.83059 0.59448,1.92937 -0.10651,0.0988 -3.33227,0.61827 -7.16835,1.15443 -8.00508,1.11884 -22.89954,1.59348 -28.27866,0.90115 z m 140.93581,-125.86324 4.81806,-5.79761 c 0.9118,-1.10265 1.07665,-2.60023 0.42393,-3.85137 -0.44412,-0.85622 -1.22133,-1.49126 -2.14323,-1.81354 l -4.52196,-4.06305 -0.85461,-0.77091 V 98.17854 93.64473 H 311.18807 V 66.39442 h 0.0236 l 2.05575,-1.27957 v -3.19422 h -3.77503 V 43.1756 h -1.21797 v -9.2035 h -1.63854 V 18.89522 18.70249 3.0000002 h -3.83897 V 18.69931 18.89206 33.96897 h -1.6419 v 9.2035 h -1.21797 v 18.74505 h -3.68756 v 3.17841 l 2.06584,1.29538 h 0.0106 v 27.2503 h -12.0855 v 4.53382 3.49435 l -0.90169,0.81515 -4.48833,4.06621 c -0.91853,0.32226 -1.69238,0.96048 -2.13649,1.8167 -0.64936,1.26062 -0.48114,2.7582 0.44076,3.85769 l 4.80795,5.7439 v 0.0506 c 0,0.0287 0.004,0.0568 0.004,0.0854 -1.57798,0.92888 -2.62772,2.54968 -2.62772,4.39795 0,2.87827 2.54024,5.21943 5.66591,5.21943 h 10.64211 l -8.55288,185.182 h 30.09261 L 312.1414,127.72274 h 10.35611 c 3.12232,0 5.66592,-2.34115 5.66592,-5.21942 0,-1.84828 -1.05311,-3.46907 -2.621,-4.39795 0,-0.0287 0,-0.0568 0,-0.0854 v -0.004 z"/>
          </svg>
        </h1>
        <div class="pre-loader">
          <svg class="pre-inner" width="60px" height="60px" viewBox="0 0 80 80">
            <path class="pre-loader-circlebg" d="M40,10C57.351,10,71,23.649,71,40.5S57.351,71,40.5,71 S10,57.351,10,40.5S23.649,10,40.5,10z"/>
            <path id="pre-loader-circle" class="pre-loader-circle" d="M40,10C57.351,10,71,23.649,71,40.5S57.351,71,40.5,71 S10,57.351,10,40.5S23.649,10,40.5,10z"/>
          </svg>
        </div>
      </header>
      <core-header-panel>
        <core-toolbar class="core-narrow">
          <paper-icon-button class="menu-button" icon="menu"></paper-icon-button>
          <span class="toolbar-header" flex>{{header}}</span>
          <paper-icon-button class="search-button" icon="search"></paper-icon-button>
        </core-toolbar>
        <div class="geocoder"></div>
        <div id="map" class="custom-popup"></div>
        <div id="feature-modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="feature-modal" aria-hidden="true">
          <div class="modal-dialog modal-lrg">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="modal-close" aria-hidden="true">&times;</button>
                <h4 class="modal-title popup-title" id="feature-title"></h4>
              </div>
              <div class="modal-body" id="feature-info"></div>
            </div><!-- /.modal-content -->
          </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->
      </core-header-panel>
      {{!-- <div class="header"> --}}
        {{!-- <a href="#menu"></a>{{header}} --}}
      {{!-- </div> --}}
    </div>
    <script src="{{components}}/platform/platform.js"></script>
    <link rel="import" href="{{components}}/core-toolbar/core-toolbar.html">
    <link rel="import" href="{{components}}/core-header-panel/core-header-panel.html">
    <link rel="import" href="{{components}}/core-icons/core-icons.html">
    <link rel="import" href="{{components}}/paper-icon-button/paper-icon-button.html">
    <link rel="import" href="{{components}}/paper-toggle-button/paper-toggle-button.html" />
    <link rel="import" href="{{components}}/paper-radio-group/paper-radio-group.html" />
